

table.ui.table
  thead
    tr
      th.one.wide Number
      th.three.wide Title
      th.two.wide Line Item Verification
      th.two.wide Regression
      //-
        th.two.wide Stress
      th.one.wide WHQL
      th.one.wide ReadMe
      th.one.wide
      th.one.wide
  tbody
    each fix in fixes
      //-switch between 'if' and'unless == 1/0' while testing. and finally use 'unless' when feature is hardedned.
      unless fix.testComplete == 1
        tr
          form(method="post" action="/fix/save" id="#{fix.fixNumber}-saveFix")
            td
              a(href="#") #{fix.fixNumber}
            
            td #{fix.title}
            
            td
              select.ui.fluid.dropdown(name="LIV" form="#{fix.fixNumber}-saveFix") 
                option(value="#{fix.liv}") #{fix.liv}
                unless fix.liv == "Not Started" 
                  option(value="Not Started") Not Started
                unless fix.liv == "In Progress"
                  option(value="In Progress") In Progress
                unless fix.liv == "Blocked"
                  option(value="Blocked") Blocked
                unless fix.liv == "Complete"
                  option(value="Complete") Complete
            
            td
              select.ui.fluid.dropdown(name="Regression" form="#{fix.fixNumber}-saveFix")
                option(value="#{fix.regression}") #{fix.regression}
                unless fix.regression == "Not Started"
                  option(value="Not Started") Not Started
                unless fix.regression == "In Progress"
                  option(value="In Progress") In Progress
                unless fix.regression == "Blocked"
                  option(value="Blocked") Blocked
                unless fix.regression == "Complete"
                  option(value="Complete") Complete
            //-
              td
                select.ui.fluid.dropdown(name="Stress" form="#{fix.fixNumber}-saveFix")
                  option(value="#{fix.stress}") #{fix.stress}
                  unless fix.stress == "Not Started"
                    option(value="Not Started") Not Started
                  unless fix.stress == "In Progress"
                    option(value="In Progress") In Progress
                  unless fix.stress == "Blocked"
                    option(value="Blocked") Blocked
                  unless fix.stress == "Complete"
                    option(value="Complete") Complete
            
            td.ui.form
              .inline.fields
                .field
                  .ui.radio.checkbox
                    if fix.whql == 1
                      input(type="radio" name="WHQL" checked="checked" value=1)
                    else
                      input(type="radio" name="WHQL" value=1)
                    label Yes
                .field
                  .ui.radio.checkbox
                    if fix.whql == 0
                      input(type="radio" name="WHQL" checked="checked"  value=0)
                    else
                      input(type="radio" name="WHQL" value=0)
                    label No

            td.ui.form
              .inline.fields
                .field
                  .ui.radio.checkbox
                    if fix.readMe == 1
                      input(type="radio" name="ReadMe" checked="checked" value=1)
                    else
                      input(type="radio" name="ReadMe" value=1)
                    label Yes
                .field
                  .ui.radio.checkbox
                    if fix.readMe == 0
                      input(type="radio" name="ReadMe" checked="checked"  value=0)
                    else
                      input(type="radio" name="ReadMe" value=0)
                    label No
            //-
              td
                .ui.checkbox
                  if fix.readMe == 1
                    input(type="checkbox" name="ReadMe" checked="checked" value=0)
                  if fix.readMe == 0
                    input(type="checkbox" name="ReadMe" unchecked value=1)
                  label
            td
              input(type="hidden" name="fixNumber" value="#{fix.fixNumber}")
              input.ui.primary.basic.button(type="submit" value="save")  
          
          td            
            if fix.testComplete == 1
              input.ui.green.button(type="button" value="Test Complete")
            else
              input.ui.green.basic.button(type="button" value="Test Complete" id="#{fix.fixNumber}testComplete")
              
              //-
                input.ui.green.basic.button(type="button" value="Test Complete" onclick="test_Complete('#{fix.fixNumber}')" id="#{fix.fixNumber}-testComplete")

              include ./testCompleteModal
            //-
              button.ui.green.basic.button#testComplete Test Complete
            //-
              input.ui.green.basic.button(type="submit" value="Test Complete")
                

.ui.clearing.divider
a.ui.blue.basic.button(id="addFix") Add Fix